$white1: 			#ccc;
$white2: 			#FFFFFF;
$white3:			#f7f6f6;
$grey1: 			#999999;
$grey2: 			#eee;
$grey3: 	 		#bcbcbc;
$grey4: 	 		#666666;
$grey5:				#878686;
$grey6:				#aaa;
$grey7: 			#313131;
$grey12:	 		#8e8e8e;
$grey23:			#3b3b3b;
$grey61:			#9c9c9c;
$orange1: 			#D67521;
$orange2: 			#fe8821;
$orange3:			#f07000;
$pink1: 			#9A3466;
$pink2:				#CE659C;
$black1:        	#000;
$black2:			#4f4f4f;
$black3:			#333333;
$black4:			#353535;
$black_divider:		#424242;
$blue1:         	#ED6A00;
$grey_background:	#2D2D2D;
$grey_border_color: #DDDDDD;
$smokewhite:		#f8f8f8;
$nav_background:	#f1f0ee;
$btn_text_shadow:	#df4f0b;
$input_border: 		#cccccc;
$input_text:		#979797;
$red:				#FF0000;
$login_background:	#ebebeb;
$title_background: 	#161616;