$side: 15px;
$bookmark-main-img-width: 120px;
$bookmark-carousel-img-width: 90px;
$side-padding: 25px;//used for carousel buttons
$std-spacing: 10px;
$std-spacing2: 15px;
$small-spacing: 5px;
$min-spacing:	3px;
$zero-spacing: 0;
$site-car-image-width: 86px;
$site-car-image-height: 86px;
$content-line-height: 18px;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-button: 700;
$bookmark-content-width: 75%;
$feature-post-img-width: 50px;
$feature-post-img-height: 65px;
$comment-profile-img-width: 50px;
$comment-line-height: 20px;
$grid-cell-img-width: 35px;
$social-btn-height: 40px;
$nav-wrapper-padding: 8px;
$grid-cell-main-img-width: 135px;
$slide-show-item-width: 250px;
$slide-show-item-height: 180px;
$slide-thumb-width: 50px;
$slide-thumb-height: 50px;
$prev-next-btn-width: 100px;