$sans-serif:          helvetica, arial, sans-serif; 
$open-sans:			 'Open Sans', $sans-serif;
$serif:               "Times New Roman", Times, serif;
$clean-sans-serif:	  arial,helvetica,clean,sans-serif;

$base-font-size:      14px;
$h1-font-size:        $base-font-size +4px;
$h2-font-size:        $base-font-size +2px;
$h3-font-size:        $base-font-size +1px;


$content-font-size:  12px;
$comments-font-size: 11px;
$heading-font-size : 24px;
$subheading-font-size : 14px;
$time-stamp-font-size: 9px;
$saves-font-size: 5px;


