
ul{
	list-style: none;
}
a {
  
  text-decoration: none;
}
.mw-hide{
	display: none !important;
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.full-width{
	width: 100%;
}
.clear{
	clear: both;
}
.mw-h1{
	font-size: 16px;
}
.mw-bar1{
	padding: 30px 20px;
	background: #BBBBBB;
	width: 100%;
	display: block;
	border-bottom:1px solid #ffffff;
	font-size:14px;
	color:#ffffff;
	&:after{
		content: "+";
		color: #34b233;
		font-size: $h1-font-size;
		position: absolute;
		right: $side-padding;
	}
	&[data-ur-state="enabled"]{
		&:after{
			content: "-";
		}
	}
}
.mw-bar2{
	padding:  20px;
	width: 100%;
	display: block;
	border-bottom:1px solid #BBBBBB;
	font-size:12px;
	color:#747678;
	a{
		color:#747678;
		display:block;
	}
	
}
.mw-bar3{
	font-size:14px;
	display:block;
	font-weight:700; 
	padding:10px 0px 10px 20px;
	background-color:#bbbbbb;
	color:#ffffff;
	border-bottom:1px solid #ffffff;
	
}
.mw-bar4{
	padding:10px 20px;
	width: 100%;
	display: block;
	border-bottom:1px solid #eeeeee;
	font-size:12px;
	color:#747678;
	a{
		color:#747678;
		display:block;
	}
	
}
.mw-bar5{
	padding:10px 30px;
	width: 100%;
	display: block;
	border-bottom:1px solid #eeeeee;
	font-size:12px;
	color:#747678;
	a{
		color:#747678;
		display:block;
	}
	
}
#footerModule1{
		width: 50%;
		float: left;
		padding-left: 15px;
		border-right: 1px solid #EDEEF0;
		a{
			img{
				width:100%;

			}
		}
		
	}
	.social{
		bottom: 0px;
		position: absolute;
		li{	
			float:left;
			a{
				display: block;
				-webkit-border-radius: 20px;
				margin-right: 5px;
			}
		}
	}
#footerModule2{
	width: 45%;
	float: right;
	position:relative;
	img{
		
		width:100%;
		height:65px;
		
	}
	ul{
		li{
			a{
				display:block;
			}
		}
	}
}

.mw-green-header{
	padding: 20px 0px 20px 20px;
	background-color: #34b233;
	width: 100%;
	font-size:14px;
	color:#ffffff;
	a{
		color:#ffffff;
		font-weight:bold;
		text-transform:uppercase;
		font-size:14px;
		
	}
}
.hideThisElement{
	display:none;
}
.FBContainer,.twitterContainer{
	width:80px;
	float:left;
}
.gplusContainer,.pinterestContainer{
	width:60px;
	float:left;
}