.mw-footer {
    clear:both;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    padding: 15px 0px;
  	.mw-footer8{
    	width: 100%;
  		color: #ffffff;
  		padding: 15px;
  		line-height: 19px;
  		text-align: center;
  	}
  	.copyright{
        a{
        color: #747678;
        font-size:11px;
      }
    }

    .footer-links{
        li{
          display:inline;
          a{
            color: #34b233;
            font-size:11px;
          }
          span{
            color: #BBBBBB;
            font-size: 28px;
            padding: 0px 10px;
          }
        }
    }
  	
}
